.flexRowContent--menu-footer {
  background-color: #efefef;
  padding: 0rem 10rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footer-menus) {
  display: flex;
  gap: 5rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--last-block-menu) {
  height: auto !important;
}
