:global(.vtex-list-context-0-x-list--footer-store-text) {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

:global(.vtex-list-context-0-x-list--footer-social-networks){
  display: flex;
  margin-bottom: 1rem;
}